<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <style>
          .table1 {
            
            padding: auto;
            width: 90%;
            padding-top: 20px;
            padding-bottom: 20px;
          }
          li{
            list-style-type: none;
            border: 1px solid #ddd;
            padding-left: 10px
          }
          h2{
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
          }

          h3{
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            border: 1px solid #ddd;
            margin-bottom: 0; 
          }
          span{
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
          }
          ul, li, div, p{
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
          }
  </style>
</head>

<body>

        
        <table align="center" style="background-color: white;" width="600;">
        <tr>
          <!-- The content of your email goes here. -->
          
          <table class=table1>
              <h2 style="text-align: center; margin: auto; background-color: #23145F; padding-top: 10px; padding-bottom: 10px; color: white;">Solicitud para diseño y publicación</h2>
              <tr style="text-align:left">
                <li style="border: 1px solid #ddd; padding-left: 10px">Oficina que solicita: <span><%= @oficina %></span></li>
                <li style="border: 1px solid #ddd; padding-left: 10px">Tipo de diseño: <span><%= @tipo %></span></li>
                <li style=" ">Nombre de la vacante: <span><%= @vacante %></span></li>
              </tr>
              </table>

          <table class=table1>
            <h3 style="text-align: center; background-color: #f5f5f5; padding-top: 5px; padding-bottom: 5px">Detalles de la vacante</h3>

              <tr style="text-align:left">
                <li style=" ">Edad: <span><%= @edad %></span></li>
                <li>Sexo: <span><%= @sexo %></span></li>
                <li>Escolaridad: <span><%= @escolaridad %></span></li>
                <li style=" ">Experiencia: <span><%= @experiencia %></span></li>
                <br>
                <li style=" ">Sueldo: <span><%= @sueldo %></span></li>
                <li style=" ">Prestaciones: <span><%= @prestaciones %></span></li>
              </tr>
          </table>
          
          <table class=table1>
            <h3 style="text-align: center; background-color: #f5f5f5;   margin-bottom: 0; padding-top: 5px; padding-bottom: 5px">Actividades de la vacante</h3>

            <div style="text-align: center; padding: 20px; text-align: left; border: 1px solid #ddd;">
              <span><%= @actividades %></span>
            </div>
          </table>

          <table class=table1>
            <h3 style="text-align: center; background-color: #f5f5f5; padding-top: 5px; padding-bottom: 5px">Datos de contacto</h3>
              <tr style="text-align:left">
                <li style=" ">Reclutador: <span><%= @reclutador %></span></li>
                <li>Teléfono: <span><%= @telefono %></span></li>
                <li style=" ">Correo: <span><%= @email %></span></li>
              </tr>
            </table>

          <table class=table1>
            <h3 style="; text-align: center; background-color: #f5f5f5; padding-top: 5px; padding-bottom: 5px">Comentarios</h3>

            <div style="text-align: center; padding: 20px; text-align: left; border: 1px solid #ddd;">
              <span><%= @comentarios %></span>
            </div>
          </table>
        

</body>
</html>