<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
      h1, h2, h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: white;
      }
      .container-mod{
        width: 70%;
      }
    </style>
  </head>
  <body>
    
    <div class="container-mod">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          
          <div class="panel panel-primary">
            <div class="panel-heading text-center"><h2>Solicitud para diseño de publicación</h2></div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Oficina que solicita: <%= @oficina %></li>
                <li class="list-group-item">Tipo de publicación: <%= @tipo %></li>
                <br>
                <li class="list-group-item">Nombre de la vacante: <%= @vacante %></li>
              </ul>
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Detalles de la vacante</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Edad: <%= @edad %></li>
                <li class="list-group-item">Sexo: <%= @sexo %></li>
                <li class="list-group-item">Escolaridad: <%= @escolaridad %></li>
                <li class="list-group-item">Experiencia: <%= @experiencia %></li>
                <br>
                <li class="list-group-item">Sueldo: <%= @sueldo %></li>
                <li class="list-group-item">Prestaciones: <%= @prestaciones %></li>
              </ul>
              
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">Actividades de la vacante</h3>
                </div>
                <div class="panel-body">
                  <%= @actividades %>
                </div>
              </div>                
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Datos de contacto</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Reclutador: <%= @reclutador %></li>
                <li class="list-group-item">Teléfono: <%= @telefono %></li>
                <li class="list-group-item">Correo: <%= @email %></li>
              </ul>
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Comentarios</h3>
            </div>
            <div class="panel-body">
              <%= @comentarios %>
            </div>
          </div>          
          
        </div>
      </div>
      
  </body>
</html>