<div class="container">
  <div class="row">
    <h2 class="text-center" style="margin-bottom:30px">Solicitud de publicaci&oacute;n</h2>
    <div class="col-md-4 col-md-offset-4">
      <%= flash[:notice] %>
      <div class="well">
        <%= form_for @solicitude do |f| %>
            <div class="col-sm-6">
              <div class="form-group text-center">
                <div><span>Oficina</span></div>
                <%= f.select(:oficina_id, options_for_select([['Monterrey'], ['Ciudad de Mexico'], ['Guadalajara'], ['Piedras Negras']])) %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group text-center">
                <div><span>Tipo de diseño</span></div>
                <%= f.select(:tipo_diseño_id, options_for_select([['Facebook'], ['Volante'], ['Periodico'], ['Otro']])) %>
              </div>
          </div>
          
          <div class="form-group text-center">
            <%= f.label :"Nombre de la vacante" %>
            <%= f.text_field :vacante, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <%= f.label :edad %>
                <%= f.text_field :edad, class: 'form-control' %>
              </div>
              <div class="col-sm-6">
                <%= f.label :sueldo %>
                <%= f.text_field :sueldo, data: { autonumeric: { aSep: ',', aDec: '.', aSign: '$ '}}, class: 'form-control' %>
              </div>
            </div>
          <%= f.radio_button(:sexo, "hombre") %>
          <%= f.label(:sexo_hombre, "Hombre") %>
          <%= f.radio_button(:sexo, "mujer") %>
          <%= f.label(:sexo_mujer, "Mujer") %>
          <%= f.radio_button(:sexo, "indistinto") %>
          <%= f.label(:sexo_mujer, "Indistinto") %>    
          </div>
          
          <div class="form-group">
            <%= f.label :escolaridad %>
            <%= f.text_field :escolaridad, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :experiencia %>
            <%= f.text_field :experiencia, class: 'form-control' %>
          </div>           
          
          <div class="form-group">
            <%= f.label :prestaciones %>
            <%= f.text_area :prestaciones, class: 'form-control' %>
          </div>          
          
          <h3 class="text-center">Datos de contacto</h3>
          
          <div class="form-group">
            <%= f.label :reclutador %>
            <%= f.text_field :reclutador, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :telefono %>
            <%= f.number_field :telefono, class: 'form-control' %>
          </div>    
          
          <div class="form-group">
            <%= f.label :'actividades de la vacante' %>
            <%= f.text_area :actividades, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :comentarios %>
            <%= f.text_area :comentarios, class: 'form-control' %>
          </div>
          
            <%= f.submit 'Enviar', class: 'btn btn-success' %>
        <% end %>

    </div>
  </div>
</div>